{{#if resume.volunteer.length}}
<section class="section-volunteer">
	{{>title title='Wolontariat'}}
	{{#each resume.volunteer}}
	<div class="item">
		{{#if position}}
		<div class="position">
			{{position}}
		</div>
		{{/if}}
		{{#if organization}}
		<div class="company">
			<span class="name">
				{{organization}}
			</span>
		{{/if}}
		<span class="date">
			{{#if startDate}}
			| <span class="startDate">
				{{formatDate startDate}}
			</span>
			{{/if}}
			{{#if endDate}}
			<span class="endDate">
				- {{formatDate endDate}}
			</span>
			{{else}}
			<span class="endDate">
				- Obecnie
			</span>
			{{/if}}
		</span>
		</div>
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
		{{#if highlights.length}}
		<ul class="highlights">
			{{#each highlights}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
